
.pie{
    background-color:black;
}

.prueba{
    border-style:2px solid black;!important
}

h3{
    text-align: center;!important
}

a{
    text-align: center;!important
    text-decoration-color: white;!important
}

.social{
    height:50px;
    width:50px;
    position: relative;
    padding-left:50px;
}

.logohed{
    height:auto;
    width:auto;
}

.barbtn{
    width:50px !important;
    height:30px!important;
    font-weight:100!important;
    padding:0%!important; 
    color:white !important;
    background-color:cornflowerblue !important;
    border-color:cornflowerblue !important;
    border-radius:5px 5px 5px 5px;
}

.barbtn:hover{
    color:azure !important;
    background-color:#0007a8 !important;
    border-color:#0007a8 !important;
}

.btn-outline-success{
    color:#0006a8;
    background-color:transparent;
    background-image:none;
    border-color:#28a745;
}
.btn-outline-success:hover{
    color:#fff;
    background-color:#28a745;
    border-color:#28a745;
}
.btn-outline-success.focus,.btn-outline-success:focus{
    box-shadow:0 0 0 .2rem rgba(40,167,69,.5);
}
.btn-outline-success.disabled,.btn-outline-success:disabled{
    color:#0006a8;
    background-color:transparent;
}
.btn-outline-success:not(:disabled):not(.disabled).active,.btn-outline-success:not(:disabled):not(.disabled):active,.show>.btn-outline-success.dropdown-toggle{
    color:#fff;
    background-color:#0006a8;
    border-color:#0006a8
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus,.btn-outline-success:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-success.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(40,167,69,.5);
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

/**** Slider *****/
.index-banner{
	padding:10px 0;
}
.banner-wrap{
	width: 80%;
	margin: 0 auto;
} 
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article {
	position: relative;
	text-align: center;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width:auto;
	height:auto;
	display:block;
	margin:0 auto;
}
.wmuGallery .wmuGalleryImage {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage img {
	max-width: 100%;
	width: auto;
	height: auto;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width: 70px;
	height: 120px;
	text-indent: -9999px;
	background: url(img/img-sprite.png)no-repeat;
	top: 27%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position: -20px -21px;
	left: 40px;
}
.wmuSliderNext {
	background-position: -100px -21px;
	right: 40px;
}
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	left:83.5%;
	bottom:80px;
}
.wmuSliderPagination li {
	float: left;
	margin:0 10px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width:10px;
	height:10px;
	background:#ececec;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
}
.wmuSliderPagination a.wmuActive {
	background:#08080b;
	width:10px;
	height:10px;
}
.slider-left{
	float: left;
	width: 70.5%;
}
.slider-right{
	width:28.5%;
	float:left;
	text-align: right;
	margin-top:4%;
}
.slider-right h1{
	color:#000;
	font-size:4em;
	text-transform:uppercase;
	font-weight: 100;
}
.slider-right h2{
	color:#000;
	font-size:3em;
	text-transform:uppercase;
	font-weight: 100;
}
.slider-right p{
	color:#999;
	font-size:0.85em;
}
.btn{
	padding:8% 0;
}
.btn a {
	border:1px solid #ddd;
	color: #000;
	cursor: pointer;
	padding: 10px 30px;
	display: inline-block;
	font-size:0.85em;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #FFF;
}

/*Servisios*/
.service-box {
    margin: 0 0 60px;
    display: inline-block;
}
.service-box .service-icon {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #e9e9e9;
    line-height: 75px;
    text-align: center;
    color: #e43c5c;
    font-size: 30px;
    margin-right: 23px;
    float: left;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.service-box .service-text {
    width: 70%;
    float: left;
    margin-bottom: 20px;
}
.service-box .service-text h3 {
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    font-weight: 400;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.footer_social .ul .li .a{
    margin-left: 230px;
    color: white;!important
}

serv{
    color:white;!important
    
}

p{
    color: white;
}